---
import type { HTMLAttributes } from "astro/types";
import InfoSVG from "@src/rassets/info_circle.svg";

interface Props extends HTMLAttributes<"aside"> {
  color?: string;
  backgroundColor?: string;
}

const { color, backgroundColor } = Astro.props;
---

<aside>
  <p>
    <InfoSVG class="aside-icon" />
    Information
  </p>
  <slot />
</aside>

<style define:vars={{ color, backgroundColor }}>
  @layer component {
    p {
      display: inline-flex;
      gap: 3px;
      align-items: center;
    }
    .aside-icon {
      height: 1.5em;
      width: 1.5em;
    }
    aside {
      color: var(--color);
      background-color: var(--backgroundColor);
    }
  }
</style>
