@layer nb.component {
  .inline_spoiler {
    display: contents;
  }

  .inline_spoiler * {
    display: inline;
    background-color: var(--sl-color-gray-5);
  }

  .spoiler_text[aria-hidden="true"] {
    color: transparent;
    user-select: none;
  }
}
