name: Publish Package to npmjs
on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
      - "[0-9]+.[0-9]+.[0-9]+-[a-zA-Z0-9]+.[0-9]+"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 'lts/*'
          registry-url: 'https://registry.npmjs.org'
      - run: cd component-system
      - run: npm ci --workspace=component-system
      - run: npm pack --workspace=component-system
      - run: npm publish --provenance --dry-run --access public --workspace=component-system
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2
        with:
          body: ${{ github.event.head_commit.message }}
          files: |
            nibbles-and-bites-*.tgz
      - run: npm publish --provenance --access public --workspace=component-system
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
